autopy3==0.51.1
beautifulsoup4==4.5.3
bs4==0.0.1
html5lib==0.999999999
langdetect==1.0.7
lxml==3.7.2
nltk==3.2.2
packaging==16.8
pip-review==0.5
psutil==5.0.1
py==1.4.32
pycurl==7.43.0
pyparsing==2.1.10
pytest==3.0.5
requests==2.12.4
six==1.10.0
textblob==0.11.1
Unipath==1.1
untangle==1.1.0
webencodings==0.5
xmltodict==0.10.2
